{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}
{% block title %}Category{% endblock %}
{% load humanize %}
{% block content %}
<ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="modal-body">

        <form action="" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Category Name</label>
                {% if form.is_bound %}
                   {% if form.category_name.errors %}
                     {{form.category_name|add_class:"form-control is-invalid"  }} 
                      <div class="invalid-feedback">{{ form.category_name.errors }}</div>

                    {% else %}
                       {{form.category_name|add_class:"form-control is-valid"  }} 
                    {% endif %}
                  {% else %}
                  {{form.category_name|add_class:"form-control"  }} 
                  {% endif %}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Category Description</label>
                {% if form.is_bound %}
                   {% if form.category_description.errors %}
                     {{form.category_description|add_class:"form-control is-invalid" }} 
                     <div class="invalid-feedback">{{ form.category_description.errors }}</div>
                   {% else %}
                     {{form.category_description|add_class:"form-control is-valid"  }} 
                   {% endif %}
                {% else %} 
                    {{form.category_description|add_class:"form-control "  }}  
                {% endif %}

              </div>
    
               <div class="form-group">
                <label for="exampleInputEmail1">Category Status</label>
                {% if form.is_bound %}
                   {% if form.category_status.errors %}
                      {{form.category_status|add_class:"form-control is-invalid" }}
                      <div class="invalid-feedback">{{ form.category_status.errors }}</div>
                   {% else %}
                      {{form.category_status|add_class:"form-control is-valid" }}
                   {% endif %}
                {% else %} 
                {{form.category_status|add_class:"form-control " }}
                {% endif %}   
                      
              </div>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" name="submit" class="btn btn-success">Save</button>
          </div>
        </div>
        </form>
    </div>
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock content%}