{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}
{% block title %}Category{% endblock %}
{% load humanize %}
{% block content %}
<ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="modal-body">
        <form action="" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Category Name</label>
                {{form.category_name|add_class:"form-control" }} 
                <!-- <input type="text" name="category_name" class="form-control" id="exampleInputEmail1" > -->
              </div>
    
              <div class="form-group">
                <label for="exampleInputEmail1">Category Description</label>
                {{form.category_description|add_class:"form-control" }} 
              </div>
    
               <div class="form-group">
                <label for="exampleInputEmail1">Category Status</label>
                {{form.category_status|add_class:"form-control" }}
                        <!-- <select class="form-control" name="category_status">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select> -->
              </div>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" name="submit" class="btn btn-success">Save</button>
          </div>
        </div>
        </form>
    </div>
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock content%}