<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
        
        <div class="container">
            <div class="row">
                <form class="form-horizontal">
        <fieldset>
        
        <!-- Form Name -->
        <legend>Singup</legend>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="Username">Username</label>  
          <div class="col-md-5">
          <input id="Username" name="Username" placeholder="Name" class="form-control input-md" required="" type="text">
          
          </div>
        </div>
        
        
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Email :</label>  
          <div class="col-md-5">
          <input id="textinput" name="textinput" placeholder="exsample@domain.com" class="form-control input-md" required="" type="text">
         
          </div>
        </div>
        <!-- Password input-->
        <div class="form-group">
                <label class="col-md-4 control-label" for="txtPassword">Password</label>
                <div class="col-md-5">
                  <input id="txtPassword" name="txtPassword" placeholder="password" class="form-control input-md" required="" type="password">
                
                </div>
              </div>
        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="txtConpassword">Confrim Password</label>
          <div class="col-md-5">
            <input id="txtConpassword" name="txtConpassword" placeholder="comfrim password" class="form-control input-md" required="" type="password">
           
          </div>
        </div>
        
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="txtName">Name</label>  
          <div class="col-md-5">
          <input id="txtName" name="txtName" placeholder="" class="form-control input-md" required="" type="text">
          
          </div>
        </div>
        
        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="BtnSet1"></label>
          <div class="col-md-8">
            <button id="BtnSet1" name="BtnSet1" class="btn btn-primary">Send Password</button>
            <button id="BtnSet2" name="BtnSet2" class="btn btn-warning">Cancle</button>
          </div>
        </div>
        
        </fieldset>
        </form>
            </div>
        </div>
</body>
</html>