 {% load static %}

  <script src="{% static 'dashboard/vendor/jquery/jquery.min.js'  %}"></script>
  <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'dashboard/js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'dashboard/js/demo/chart-area-demo.js' %}"></script>

  <script type="text/javascript">
	//=====ConsumerBehaviourChart=======
        toastr.options = {
           "closeButton": true,
		  "debug": false,
		  "newestOnTop": true,
		  "progressBar": false,
		  "positionClass": "toast-top-right",
		  "preventDuplicates": false,
		  "onclick": null,
		  "showDuration": "100",
		  "hideDuration": "1000",
		  "timeOut": "10000",
		  "extendedTimeOut": "20000",
		  "showEasing": "linear",
		  "hideEasing": "linear",
		  "showMethod": "slideDown",
		  "hideMethod": "slideUp"
        };

		{% if messages %}
		{% for message in messages %}
            toastr['{{ message.level_tag }}']('{{ message }}');
        {% endfor %}
        {% endif %}
    </script>
